<html lang='en'>
    <head>
        <title>Query Response Previewer</title>
        <link rel="stylesheet" media="screen" href="../static/css/bootstrap.min.css">
        <script src="../static/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
   <body>
        <br><br>
        <h2 align="center">Query Response Previewer</h2>
        <br><br>
        <div class="container">
            <form action="" method="post" role="form">
                <div class="form-group">
                    <input type="text" class="form-control"
                           id="query" name="query"
                           placeholder="Type your query here..."
                           value="{{query}}"
                           onclick="click_stage">
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
        {% if query != "" %}
        <div class="container" id="results">
            <br>
            <span>{{result}}</span>
        </div>
        {% endif %}

        <script>
            var query = document.getElementById('query').value;
            function click_stage() {
                document.getElementById("results").style.display = "inline";
            }

        </script>

   </body>

</html>